<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="files/loader.css">
	<style type="text/css" class="init">
	td.details-control {
		background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
		cursor: pointer;
	}
	tr.shown td.details-control {
		background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
	}
	</style>
	<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
	</script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">
	</script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js">
	</script>
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	.modal-header, h4, .close {
	  background-color: #5cb85c;
	  color:white !important;
	  text-align: center;
	  font-size: 30px;
	}
	.modal-footer {
	  background-color: #f9f9f9;
	}
	</style>
	
@{
var myLocksString="";
var i=0;
for(i = 0; i < (@Model.NLocks -1); i++){
	myLocksString+="['"+@Model.LocksName[@i,0]+"','"+@Model.LocksName[@i,1]+"'],";
}
	myLocksString+="['"+@Model.LocksName[@i,0]+"','"+@Model.LocksName[@i,1]+"']";
}
	
	<script type="text/javascript" class="init">
	
    var uri = 'api/users';
	var mylocks=[ @myLocksString ];
	
	function format ( d ) {
		// `d` is the original data object for the row
		
		var retstring='<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="imchild">'+
			'<tr class="imchild">'+
				'<td>Full Address:</td>'+
				'<td>'+((d.user_address==null)?'':d.user_address)+', '+((d.user_city==null)?'':d.user_city)+', '+((d.user_region==null)?'':d.user_region)+', '+((d.user_postalcode==null)?'':d.user_postalcode)+', '+((d.user_country==null)?'':d.user_country)+'</td>'+
			'</tr>'+
			'<tr class="imchild">'+
				'<td>Phone:</td>'+
				'<td>'+((d.user_phone==null)?'':d.user_phone)+'</td>'+
			'</tr>'+
			'<tr class="imchild">'+
				'<td>Registration:</td>'+
				'<td>'+d.user_registrationdate+'</td>'+
			'</tr>'+
			'<tr class="imchild">'+
				'<td>Card Type:</td>'+
				'<td>'+((d.user_cardtype==null)?'':d.user_cardtype)+'</td>'+
			'</tr>'+
			'<tr class="imchild">'+
				'<td>Allowed Locks:</td>'+
				'<td>';
		
		var checklock=d.user_allowedlocks.split(',');
		for(var i=0; i<@Model.NLocks;i++){
				if(checklock.includes(mylocks[i][0])){
					retstring+='<span class="glyphicon glyphicon-ok" style="color:#00FF00;"></span>'+ mylocks[i][1]+'&nbsp;&nbsp;';
				}else{
					retstring+='<span class="glyphicon glyphicon-remove" style="color:#FF0000;"></span>'+ mylocks[i][1]+'&nbsp;&nbsp;';
				}
		}
				
		retstring+='</td>'+
			'</tr>'+
		'</table>';
		return retstring;
	}

    $(document).ready(function () {
      // Send an AJAX request
		$.getJSON(uri).done(function (jsondata) {
			
			document.getElementById("editBtn").disabled = true;
			document.getElementById("deleteBtn").disabled = true;
            // On success, 'data' contains a list of products.
            //$.each(data, function (key, item) {
              // Add a list item for the product.
              //$('<li>', { text: formatItem(item) }).appendTo($('#products'));
            //});
			
			
			$("#newBtn").click(function(){
				var d = new Date();
				var n = d.getTimezoneOffset();
				document.getElementById("nusrpinstart").value=new Date(d.getTime() - n * 60 * 1000).toJSON().slice(0,16);
				$("#newModal").modal();
				//$("#loadingModal").modal();
			});
			
			$("#deleteBtn").click(function(){
				var rowid = table.row('.selected').id();
				var user_by_id = getNodeById(rowid, jsondata.data);
				$("#deletetext").text("Delete "+ user_by_id.user_name + " "+ user_by_id.user_surname+ "?");
				$("#deleteModal").modal();
			});
			
			$("#editBtn").click(function(){
				var rowid = table.row('.selected').id();
				var user_by_id = getNodeById(rowid, jsondata.data);
				
				$("#eusrname").val(user_by_id.user_name);
				$("#eusrsurname").val(user_by_id.user_surname);
				$("#eusraddress").val(user_by_id.user_address);
				$("#eusrcity").val(user_by_id.user_city);
				$("#eusrregion").val(user_by_id.user_region);
				$("#eusrpostalcode").val(user_by_id.user_postalcode);
				$("#eusrcountry").val(user_by_id.user_country);
				$("#eusrphone").val(user_by_id.user_phone);
				$("#eusrmail").val(user_by_id.user_mail);
				$("#eusrcardtype").val(user_by_id.user_cardtype);
				$("#eusrcardid").val(user_by_id.user_cardid);
				if(user_by_id.user_cardenable)
					document.getElementById("eusrcardenable").checked = true;
				else
					document.getElementById("eusrcardenable").checked = false;
				$("#eusrpinstart").val(formatDate2(user_by_id.user_pinstart));
				$("#eusrpinexpire").val(formatDate2(user_by_id.user_pinexpire));
				
				var i;
				var myl=user_by_id.user_allowedlocks.split(',');
				//console.log(myl);
				for(i=0;i< @Model.NLocks;i++){
					var usrallowedelm=document.getElementById("eusrallowedlocks_"+i);
					if(usrallowedelm!=null){
						if(myl.includes(mylocks[i][0])){
							usrallowedelm.checked=true;
						} else {
							usrallowedelm.checked=false;
						}
					}
				}
				
				
				$("#editModal").modal();
			});
			
			
			var table = $('#example').DataTable( {
				dom: "Bfrtip",
				"ajax": 'api/users',
				 order: [[ 1, 'asc' ]],
				 rowId: 'user_id',
				 "lengthMenu": [ 10, 25, 50, 75, 100 ],
				 "columnDefs": [
					{"className": "dt-center", "targets": "_all"}
				],
				columns: [
					{
						"className":      'details-control',
						"orderable":      false,
						"data":           null,
						"defaultContent": ''
					},
					{ data: "user_name" },
					{ data: "user_surname" },
					{ data: "user_mail" },
					{ data: "user_cardid" },
					{ data: "user_pin" },
					{ data: "user_pinstart" },
					{ data: "user_pinexpire" },
					{ data: "user_lastaccess" }
				],
				select: {
					style: 'single'
				}
			});
			

					
			// Add event listener for opening and closing details
			$('#example tbody').on('click', 'td.details-control', function () {
				var tr = $(this).closest('tr');
				var row = table.row( tr );
		 
				if ( row.child.isShown() ) {
					// This row is already open - close it
					row.child.hide();
					tr.removeClass('shown');
				}
				else {
					// Open this row
					row.child( format(row.data()) ).show();
					tr.addClass('shown');
				}
			} );
			

					 
			$('#example tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
					document.getElementById("editBtn").disabled = true;
					document.getElementById("deleteBtn").disabled = true;
				}
				else {
					if(!($(this).hasClass('imchild')) && ($(this).hasClass('odd') || $(this).hasClass('even'))){
						if(Object.keys(jsondata.data).length>0){
							table.$('tr.selected').removeClass('selected');
							$(this).addClass('selected');
							document.getElementById("editBtn").disabled = false;
							document.getElementById("deleteBtn").disabled = false;
						}
					}
				}
			});
			
			
			$("#newUsrBtn").click(function(){			
				var myjson = validateform("n");
				if(myjson!=null){
					//console.log(JSON.stringify(myjson));
					//construct an HTTP request
					var xhr = new XMLHttpRequest();
					xhr.open("POST", "api/users", true);
					xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
					// send the collected data as JSON
					xhr.send(JSON.stringify(myjson));

					xhr.onreadystatechange = function() {
						if (xhr.readyState == XMLHttpRequest.DONE) {
							if(xhr.response=="OK!"){
								$("#newModal").modal('hide');
								document.getElementById("newUserForm").reset();
								updatePage();
							}else{
								alert("Error: "+xhr.response);
							}
						}
					}
				}	else{
					alert("There are errors in the form!");
				}	
			});
			
			
			$("#editUsrBtn").click(function(){			
				var myjson = validateform("e");
				if(myjson!=null){
					var rowid = table.row('.selected').id();
					var user_by_id = getNodeById(rowid, jsondata.data);
					myjson.user_id=user_by_id.user_id;
					//console.log(JSON.stringify(myjson));
					//construct an HTTP request
					var xhr = new XMLHttpRequest();
					xhr.open("PUT", "api/users", true);
					xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
					// send the collected data as JSON
					//console.log(JSON.stringify(myjson));
					xhr.send(JSON.stringify(myjson));

					xhr.onreadystatechange = function() {
						if (xhr.readyState == XMLHttpRequest.DONE) {
							if(xhr.response=="OK!"){
								$("#editModal").modal('hide');
								document.getElementById("editUserForm").reset();
								updatePage();
							}else{
								alert("Error: "+xhr.response);
							}
						}
					}
				}	else{
					alert("There are errors in the form!");
				}	
			});
			
			$("#delUsrBtn").click(function(){			
				var rowid = table.row('.selected').id();
				var user_by_id = getNodeById(rowid, jsondata.data);
				//construct an HTTP request
				var xhr = new XMLHttpRequest();
				xhr.open("DELETE", "api/users/"+user_by_id.user_id, true);
				//xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
				// send the collected data as JSON
				//console.log(JSON.stringify(myjson));
				xhr.send();

				xhr.onreadystatechange = function() {
					if (xhr.readyState == XMLHttpRequest.DONE) {
						if(xhr.response=="OK!"){
							$("#deleteModal").modal('hide');
							updatePage();
						}else{
							alert("Error: "+xhr.response);
						}
					}
				}
			});
			
			function updatePage(){
				//$.getJSON(uri, function(updateddata) {jsondata=updateddata});
				table.ajax.reload(function ( updateddata ) {
					jsondata=updateddata
					document.getElementById("editBtn").disabled = true;
					document.getElementById("deleteBtn").disabled = true;
				});
			}
			

        });
    });
	
	

	function getNodeById(id, obj){
		for (var i = 0; i < obj.length; i++){
		  if (obj[i].user_id == id){
			return obj[i];
		  }
		}
		return null;
	}
	
	function validateform(f){
		var myjson = new Object();
		var errorfound=0;
		
		var usrname=document.getElementById(f+"usrname").value;
		var usrsurname=document.getElementById(f+"usrsurname").value;
		var usraddress=document.getElementById(f+"usraddress").value;
		var usrcity=document.getElementById(f+"usrcity").value;
		var usrregion=document.getElementById(f+"usrregion").value;
		var usrpostalcode=document.getElementById(f+"usrpostalcode").value;
		var usrcountry=document.getElementById(f+"usrcountry").value;
		var usrphone=document.getElementById(f+"usrphone").value;
		var usrmail=document.getElementById(f+"usrmail").value;
		var usrcardtype=document.getElementById(f+"usrcardtype").value;
		var usrcardid=document.getElementById(f+"usrcardid").value;
		var usrcardenable=document.getElementById(f+"usrcardenable").checked;
		var usrpinstart=document.getElementById(f+"usrpinstart").value;
		var usrpinexpire=document.getElementById(f+"usrpinexpire").value;
		
		
		
		
		if(usrname == "" || usrname == "undefined"){
			document.getElementById(f+"usrname").parentNode.parentNode.className="form-group has-error";
			myjson.user_name=null;
			errorfound=1;
		} else {
			document.getElementById(f+"usrname").parentNode.parentNode.className="form-group";
			myjson.user_name=usrname;
		}
		if(usrsurname == "" || usrsurname == "undefined"){
			document.getElementById(f+"usrsurname").parentNode.parentNode.className="form-group has-error";
			myjson.user_surname=null;
			errorfound=1;
		} else {
			document.getElementById(f+"usrsurname").parentNode.parentNode.className="form-group";
			myjson.user_surname=usrsurname;
		}
		if(usraddress == "" || usraddress == "undefined"){
			//document.getElementById(f+"usraddress").parentNode.parentNode.className="form-group has-error";
			myjson.user_address=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usraddress").parentNode.parentNode.className="form-group";
			myjson.user_address=usraddress;
		}
		if(usrcity == "" || usrcity == "undefined"){
			//document.getElementById(f+"usrcity").parentNode.parentNode.className="form-group has-error";
			myjson.user_city=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usrcity").parentNode.parentNode.className="form-group";
			myjson.user_city=usrcity;
		}
		if(usrregion == "" || usrregion == "undefined"){
			//document.getElementById(f+"usrregion").parentNode.parentNode.className="form-group has-error";
			myjson.user_region=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usrregion").parentNode.parentNode.className="form-group";
			myjson.user_region=usrregion;
		}
		if(usrpostalcode == "" || usrpostalcode == "undefined"){
			//document.getElementById(f+"usrpostalcode").parentNode.parentNode.className="form-group has-error";
			myjson.user_postalcode=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usrpostalcode").parentNode.parentNode.className="form-group";
			myjson.user_postalcode=usrpostalcode;
		}
		if(usrcountry == "" || usrcountry == "undefined"){
			//document.getElementById(f+"usrcountry").parentNode.parentNode.className="form-group has-error";
			myjson.user_country=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usrcountry").parentNode.parentNode.className="form-group";
			myjson.user_country=usrcountry;
		}
		if(usrphone == "" || usrphone == "undefined"){
			//document.getElementById(f+"usrphone").parentNode.parentNode.className="form-group has-error";
			myjson.user_phone=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usrphone").parentNode.parentNode.className="form-group";
			myjson.user_phone=usrphone;
		}
		if(usrmail == "" || usrmail == "undefined"){
			document.getElementById(f+"usrmail").parentNode.parentNode.className="form-group has-error";
			myjson.user_mail=null;
			errorfound=1;
		} else {
			document.getElementById(f+"usrmail").parentNode.parentNode.className="form-group";
			myjson.user_mail=usrmail;
		}
		if(usrcardtype == "" || usrcardtype == "undefined"){
			//document.getElementById(f+"usrcardtype").parentNode.parentNode.className="form-group has-error";
			myjson.user_cardtype=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usrcardtype").parentNode.parentNode.className="form-group";
			myjson.user_cardtype=usrcardtype;
		}
		if(usrcardid == "" || usrcardid == "undefined"){
			//document.getElementById(f+"usrcardid").parentNode.parentNode.className="form-group has-error";
			myjson.user_cardid=null;
			//errorfound=1;
		} else {
			//document.getElementById(f+"usrcardid").parentNode.parentNode.className="form-group";
			myjson.user_cardid=usrcardid;
		}
		if(usrcardenable){
			myjson.user_cardenable=1;
		} else {
			myjson.user_cardenable=0;
		}
		if(usrpinstart == "" || usrpinstart == "undefined"){
			document.getElementById(f+"usrpinstart").parentNode.parentNode.className="form-group has-error";
			myjson.user_pinstart=null;
			errorfound=1;
		} else {
			document.getElementById(f+"usrpinstart").parentNode.parentNode.className="form-group";
			myjson.user_pinstart=formatDate(usrpinstart);
		}
		if(usrpinexpire == "" || usrpinexpire == "undefined" || (new Date(usrpinstart)).getTime()>(new Date(usrpinexpire)).getTime()){
			document.getElementById(f+"usrpinexpire").parentNode.parentNode.className="form-group has-error";
			myjson.user_pinexpire=null;
			errorfound=1;
		} else {
			document.getElementById(f+"usrpinexpire").parentNode.parentNode.className="form-group";
			myjson.user_pinexpire=formatDate(usrpinexpire);
		}
		
		var usrallowedlocks="";
		var i;
		var j;
		var n;
		for(i = 0;i< @Model.NLocks; i++){
			var usrallowedlockselm=document.getElementById(f+"usrallowedlocks_"+i);
			if(usrallowedlockselm!=null){
				if(usrallowedlockselm.checked){
					usrallowedlocks+=mylocks[i][0]+',';
				}
			}	
		}
		if(usrallowedlocks!=""){
			usrallowedlocks=usrallowedlocks.slice(0, -1);
		}
		myjson.user_allowedlocks=usrallowedlocks;
		
		if (errorfound==1){
			return null;
		}
		return myjson;
	}
	
	function formatDate(date) {
		var mydatetime=date.split("T");
		var mydate=mydatetime[0].split("-");
		return mydate[2]+"/"+mydate[1]+"/"+mydate[0]+" "+mydatetime[1]+":00";
	}
	function formatDate2(date) {
		var mydatetime=date.split(" ");
		var mydate=mydatetime[0].split("/");
		return mydate[2]+"-"+mydate[1]+"-"+mydate[0]+"T"+(mydatetime[1].slice(0,5));
	}

	
	/*
    function formatItem(item) {
      return item.name + ': $' + item.price;
    }

    function find() {
      var id = $('#prodId').val();
      $.getJSON(uri + '/' + id)
          .done(function (data) {
            $('#product').text(formatItem(data));
          })
          .fail(function (jqXHR, textStatus, err) {
            $('#product').text('Error: ' + err);
          });
    }*/

	</script>
<title>Users Management</title>
</head>
<body>
<div class="container-fluid">
@Html.Partial("navbar", Model)
<div class="jumbotron">
  <div>
	<h2 style="text-align: center;">Users Management</h2>
  </div>
 <br />
  <div>
  				<table id="example" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Surname</th>
							<th>Email</th>
							<th>Card ID</th>
							<th>Pin</th>
							<th>Begin Date</th>
							<th>Expire Date</th>
							<th>Last Access</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Surname</th>
							<th>Email</th>
							<th>Card ID</th>
							<th>Pin</th>
							<th>Begin Date</th>
							<th>Expire Date</th>
							<th>Last Access</th>
						</tr>
					</tfoot>
				</table>
  </div>
	<button type="button" class="btn btn-default btn-lg" id="newBtn">New</button>
    <button type="button" class="btn btn-default btn-lg" id="editBtn">Edit</button>
	<button type="button" class="btn btn-default btn-lg" id="deleteBtn">Delete</button>

  <!-- Trigger the modal with a button -->

  
  <!-- Modal -->
  <div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-user"></span> Edit User</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" class="form-horizontal" id="editUserForm">
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrname">*Name:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="eusrname" placeholder="Name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrsurname">*Surname:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="eusrsurname" placeholder="Surname">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusraddress">Address:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="eusraddress" placeholder="Address">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrcity">City:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="eusrcity" placeholder="City">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrregion">Region:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="eusrregion" placeholder="Region">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrpostalcode">Postal Code:</label>
			  <div class="col-sm-10">          
				<input type="number" class="form-control" id="eusrpostalcode" placeholder="Postal Code">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrcountry">Country:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="eusrcountry" placeholder="Country">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrphone">Phone:</label>
			  <div class="col-sm-10">          
				<input type="tel" class="form-control" id="eusrphone" placeholder="Phone">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrmail">*Email:</label>
			  <div class="col-sm-10">          
				<input type="email" class="form-control" id="eusrmail" placeholder="Email">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrcardtype">Card Type:</label>
			  <div class="col-sm-10">          
				<input type="number" class="form-control" id="eusrcardtype" placeholder="Card Type">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrcardid">Card ID:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="eusrcardid" placeholder="Card ID">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrcardenable">*Card:</label>
			  <div class="col-sm-10">
			  <div class="checkbox">
                <label><input type="checkbox" value="enabled" id="eusrcardenable">Enabled</label>
			  </div>
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrpinstart">*Begin Date:</label>
			  <div class="col-sm-10">          
				<input type="datetime-local" class="form-control" id="eusrpinstart">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrpinexpire">*Expire Date:</label>
			  <div class="col-sm-10">          
				<input type="datetime-local" class="form-control" id="eusrpinexpire">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="eusrallowedlocks">*Allowed Locks:</label>
			  <div class="col-sm-10">
			  <div class="checkbox">
				@for(var j = 0; j < Model.NLocks; j++){<label><input type="checkbox" value="lock_@j" id="eusrallowedlocks_@j">@Model.LocksName[@j,1] &nbsp;&nbsp;</label>}
			  </div>
			  </div>
			</div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
		  
		  <button type="submit" class="btn btn-success btn-default pull-right" id="editUsrBtn"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        </div>
      </div>
      
    </div>
  </div> 
  
  
    <div class="modal fade" id="newModal" role="dialog">
    <div class="modal-dialog">
    
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-user"></span> New User</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" class="form-horizontal" id="newUserForm">
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrname">*Name:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="nusrname" placeholder="Name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrsurname">*Surname:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="nusrsurname" placeholder="Surname">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusraddress">Address:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="nusraddress" placeholder="Address">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrcity">City:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="nusrcity" placeholder="City">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrregion">Region:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="nusrregion" placeholder="Region">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrpostalcode">Postal Code:</label>
			  <div class="col-sm-10">          
				<input type="number" class="form-control" id="nusrpostalcode" placeholder="Postal Code">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrcountry">Country:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="nusrcountry" placeholder="Country">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrphone">Phone:</label>
			  <div class="col-sm-10">          
				<input type="tel" class="form-control" id="nusrphone" placeholder="Phone">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrmail">*Email:</label>
			  <div class="col-sm-10">          
				<input type="email" class="form-control" id="nusrmail" placeholder="Email">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrcardtype">Card Type:</label>
			  <div class="col-sm-10">          
				<input type="number" class="form-control" id="nusrcardtype" placeholder="Card Type">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrcardid">Card ID:</label>
			  <div class="col-sm-10">          
				<input type="text" class="form-control" id="nusrcardid" placeholder="Card ID">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrcardenable">*Card:</label>
			  <div class="col-sm-10">
			  <div class="checkbox">
                <label><input type="checkbox" value="enabled" id="nusrcardenable">Enabled</label>
			  </div>
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrpinstart">*Begin Date:</label>
			  <div class="col-sm-10">          
				<input type="datetime-local" class="form-control" id="nusrpinstart">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrpinexpire">*Expire Date:</label>
			  <div class="col-sm-10">          
				<input type="datetime-local" class="form-control" id="nusrpinexpire">
			  </div>
			</div>
			<div class="form-group">
			  <label class="control-label col-sm-2" for="nusrallowedlocks">*Allowed Locks:</label>
			  <div class="col-sm-10">
			  <div class="checkbox">
				@for(var j = 0; j < Model.NLocks; j++){<label><input type="checkbox" value="lock_@j" id="nusrallowedlocks_@j">@Model.LocksName[@j,1] &nbsp;&nbsp;</label>}
			  </div>
			  </div>
			</div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
		  
		  <button type="submit" class="btn btn-success btn-default pull-right" id="newUsrBtn"><span class="glyphicon glyphicon-floppy-disk"></span> Add</button>
        </div>
      </div>
      
    </div>
  </div>
  
     <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
    
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-user"></span> Delete User</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;text-align: center;">
          <h3 id="deletetext" style="text-align: center;"></h3>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
		  
		  <button type="submit" class="btn btn-success btn-default pull-right" id="delUsrBtn"><span class="glyphicon glyphicon-floppy-disk"></span> Delete</button>
        </div>
      </div>
      
    </div>
  </div>
<div class="modal fade" id="loadingModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="text-align: center;width:220px;">
	      <div class="modal-content" style="text-align: center;">
		  <div class="modal-body" style="padding:40px 50px;text-align: center;">
		<div class="loader"></div>
		</div>
		</div>
    </div>
</div>
</div>
</div>
</body>
</html>